<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Cadastrar</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="conteudo">
        <form action="/salvar" method="get">
            <input type="hidden" name="id" id="id" value="{{squad.id}}"> <br/>
            <div class="descricoes"> 
                <label for="nome">Nome:</label>
            </div>
            <input type="text" name="nome" id="nome" placeholder="Nome do Squad" value="{{squad.nome}}"> <br/>
            <div class="descricoes"> 
                <label for="descricao">Descrição:</label>
            </div>
            <input type="text" name="descricao" id="descricao" placeholder="Descrição do Squad" value="{{squad.descricao}}"> <br/>
            <div class="descricoes"> 
                <label for="numero_pessoas">Número Pessoas:</label>
            </div>
            <input type="text" name="numero_pessoas" id="numero_pessoas" placeholder="Número de integrantes" value="{{squad.numero_pessoas}}"> <br/>
            <div class="descricoes"> 
                <label for="linguagem_backend">Linguagem BackEnd:</label>
            </div>
            <input type="text" name="linguagem_backend" id="linguagem_backend" placeholder="Linguagem BackEnd" value="{{squad.linguagem_backend}}"> <br/>
            <div class="descricoes"> 
                <label for="framework_frontend">Framework FrontEnd:</label>
            </div>
            <input type="text" name="framework_frontend" id="framework_frontend" placeholder="Framework FrontEnd" value="{{squad.framework_frontend}}"> <br/>
            <div>
            
            <hr/>                 
            <input type="submit" value="Salvar" class="salvar">
            <a href="/cadastrar" class="limpar">Limpar</a>
        </form>
    </div>
</body>
</html>